.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 50%;
  min-width: 300px;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.verification-container {
  text-align: center;
}

.verification-container h5 {
  margin-bottom: 20px;
}
.card:hover{
  transform: translateY(10px);
    transition: transform 0.3s ease;
}
.image{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background: url("https://png.pngtree.com/background/20210711/original/pngtree-simple-fluid-gradient-business-office-background-picture-image_1079863.jpg");
}
